cfgrib
git
graphviz
ipdb>=0.13
keras
matplotlib
mccabe>=0.7
mlflow
numpy
pandas
pillow
prometheus-client
psyplot
pydot
pyprojroot
ray[tune]
rich>=12.6
rope>=1.6
sphinx-autobuild>=2021.3
sphinx-mdinclude>=0.5
sphinx>=4.3
tensorflow
toml>=0.10
xarray
zarr
-e .
